 body {
     margin: 0;
 }

 header {
     padding: 20px 35px;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     background-color: #5c6d70;
 }

 header a {
    text-decoration: none;
    color: #e88873;
 }

 header h1 {
     font-weight: bold;
     font-size: 40px;
     color: #e88873;
     margin: 0;
 }

 header nav {
     margin: 7px 0;
 }

 header nav ul {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
     list-style: none;
 }

 header nav ul li a {
     margin: 0 30px;
     font-weight: lighter;
     font-size: 22px;
 }